<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card 
    id = "1"
    photoCover = "https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
    cardTitle = "Tudo sobre Tecnologia"
    cardDescription = "Software, Hardware e inovação">
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    id = "2"
    photoCover = "https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
    cardTitle = "Novidades Tech"
    >
    </app-small-card>

    <app-small-card
    id = "3"
    photoCover = "https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
    cardTitle = "Novidades Tech">
    </app-small-card>

    <app-small-card
    id = "4"
    photoCover = "https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg"
    cardTitle = "Novidades Tech">
    </app-small-card>
  </div>
</div>
